body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins";
}

// default color
$theme-colors: (
  "primary": #c42615,
  "secondary": #909399,
  "warning": #eec302,
  "success": #67c23a,
  "danger": #f56c6c,
  "light": #ffffff,
);

// import bootstrap styles at the bottom
@import "~bootstrap/scss/bootstrap.scss";
